// colors

$accent-color: #6F764D;
$black-color: #000;
$white-color: #fff;
$white-color-opacity: #F4F4F4;
$grey-color: #6C6C6C;
$grey-color-opacity: #CDCDCD;


// font

$ff-ubuntu: 'Ubuntu', sans-serif;
$ff-inter: 'Inter', sans-serif;
$ff-mulish: 'Mulish', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;


// about

$transition: .3s ease-in;
$mc: 0 auto;