.search {
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;
    &__container {
        @include flex(space-between, center);   
    }
    &__info {
        width: 50%;
        max-width: 420px;
        &-subtitle {
            color: $accent-color;
            font-size: 18px;
            font-weight: $fw-bold;
            margin-bottom: 14px;
        }
        &-title {
            margin-bottom: 24px;
        }
        &-text {
            margin-bottom: 37px;
        }
    }
    &__img {
        max-width: 780px;
        margin-left: 110px;
        margin-right: -283px;
        position: relative;
    
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            background: linear-gradient(270deg, #FFFFFF 1.46%, rgba(255, 255, 255, 0) 100%);    
        }
    }
}


